/* member profile styling */
#profile {
    margin-top: 1rem;
    padding: 1rem;
    max-width: 500px;
    border-radius: 16px;
    background-color: var(--dark-color);
}

#memberTitle {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#memberIcon {
    font-size: inherit;
}

#memberName {
    text-overflow: clip;
    word-break: break-all;
}

#memberBio {
    text-wrap: balance;
    word-break: keep-all;
}

#memberDesc {
    list-style: none;
    padding: 0;
}

#memberDesc li {
    padding: 0.5rem;
}

.memberInfo {
    color: var(--accent-color);
}

#memberCollectionTitle {
    word-break: keep-all;
}
