<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <%- include('./partials/sidebar.ejs') %>

        <main>
            <h1>Daily Booster</h1>
            <p>Grab your daily booster and expand your collection</p>
            <div id="cards"></div>
        </main>

        <%- include('./partials/scripts.ejs') %>
        <script src="/javascript/booster.js"></script>
    </body>
</html>
