<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/card.css" />
        <link rel="stylesheet" href="/stylesheets/cards.css" />
    </head>
    <body>
        <%- include('./partials/sidebar.ejs') %>

        <main>
            <div id="card">
                <div id="cardCharacter">
                    <h1 id="cardName"></h1>
                    <div id="cardImage"></div>
                </div>

                <div id="cardSpecs">
                    <p>Hogwarts</p>
                    <ul>
                        <li>Role: <span id="cardRole"></span></li>
                        <li>House: <span id="cardHouse"></span></li>
                        <li>Blood: <span id="cardBlood"></span></li>
                        <li>Wand: <span id="cardWand"></span></li>
                        <li>Patronus: <span id="cardPatronus"></span></li>
                    </ul>
                    <p>Actor</p>
                    <ul>
                        <li>Name: <span id="cardActor"></span></li>
                        <li>Birthday: <span id="cardBirthday"></span></li>
                        <li>Hairs: <span id="cardHairs"></span></li>
                        <li>Eyes: <span id="cardEyes"></span></li>
                    </ul>
                </div>
            </div>
        </main>

        <%- include('./partials/scripts.ejs') %>
        <script src="/javascript/characters.js"></script>
        <script src="/javascript/card.js"></script>
    </body>
</html>
