<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/cards.css" />
    </head>
    <body>
        <%- include('./partials/sidebar.ejs') %>

        <main>
            <h1>Cards Collection</h1>
            <%- include('./partials/filters.ejs') %>

            <div id="cards"></div>
        </main>

        <%- include('./partials/scripts.ejs') %>

        <script src="/javascript/filters.js"></script>
        <script src="/javascript/favorite.js"></script>
        <script src="/javascript/characters.js"></script>
        <script src="/javascript/collection.js"></script>
    </body>
</html>
