<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <%- include('./partials/sidebar.ejs') %>

        <main>
            <h1>Welcome to the Hogwarts Club</h1>
            <p>Hogwarts Club is a site allowing you to obtain and collect more than 100 cards representing emblematic characters from the Harry Potter and Fantastic Beasts saga.<br /><br />Just create a Hogwarts account to start accumulating daily cards and boosters. Don't hesitate to display your most beautiful specimens on your profile or exchange cards with your friends to advance your collections.</p>
            <br /><br />
            <img src="/logo.png" alt="hogwarts_club_logo" />
        </main>

        <%- include('./partials/scripts.ejs') %>
    </body>
</html>
