<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <%- include('./partials/sidebar.ejs') %>

        <main>
            <section>
                <!-- <h1>Welcome to the Hogwarts Club</h1> -->

                <img src="/Asset 8-8.png" alt="hogwarts_club_logo" />
            </section>
            <section>
                <h1>The Club</h1>
                <div class="descriptions">
                    <div class="description">
                        <h1>Start your collection</h1>
                        <img src="playing_cards.png" alt="playing_cards" />
                        <p>Become a Hogwarts Club Member and build an amazing card collection based on the characters of the Harry Potter Saga.</p>
                    </div>
                    <div class="description">
                        <h1>Grab your boosters</h1>
                        <img src="redeem.png" alt="redeem" />
                        <p>Come back every day to receive a free pack of five random cards and expand you collection quicker.</p>
                    </div>
                    <div class="description">
                        <h1>Explore the club</h1>
                        <img src="search.png" alt="search" />
                        <p>Discover the Card Catalogue or other Members of the Club. Flex your items and prepare your trade offers.</p>
                    </div>
                </div>
            </section>
            <section>
                <h1>Coming Soon</h1>
                <div class="descriptions">
                    <div class="description">
                        <h1>Trading System</h1>
                        <img src="trade.png" alt="trade" />
                        <p>Send trade offers to other Members to obtain new cards for your collection.</p>
                    </div>
                    <div class="description">
                        <h1>Friends System</h1>
                        <img src="friends.png" alt="friends" />
                        <p>Build friendships with other Members, trade with them faster and check out their friends-only collection.</p>
                    </div><div class="description">
                        <h1>Settings & Logs</h1>
                        <img src="settings.png" alt="settings" />
                        <p>Two interfaces will be implemented soon to modify account settings and monitor activity.</p>
                    </div>
                </div>
            </section>
        </main>

        <%- include('./partials/scripts.ejs') %>
    </body>
</html>
