<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>

        <link rel="stylesheet" href="/stylesheets/form.css">
    </head>
    <body>
        <%- include('./partials/sidebar.ejs') %>

        <main>
            <h1>Login</h1>
            <p>Log into an exisiting account and check your inventory.</p>
            <form action="" id="loginForm">
                <label for="loginEmail">Email</label>
                <input type="email" id="loginEmail" name="email">
                <label for="loginPassword">Password</label>
                <input type="password" id="loginPassword" name="password">
                <input type="submit" value="Login">
            </form>
        </main>

        <%- include('./partials/scripts.ejs') %>

        <script src="/javascript/login.js"></script>
    </body>
</html>
