<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/members.css">
    </head>
    <body>
        <%- include('./partials/sidebar.ejs') %>

        <main>
            <h1>Club members</h1>
            <p>Check out the other members of the Hogwarts Club. View their profiles and prepare your trade offers.</p>
            <input type="text" id="searchMember" placeholder="Search by name">
            <div id="members"></div>
        </main>

        <%- include('./partials/scripts.ejs') %>
        <script src="/javascript/members.js"></script>
    </body>
</html>
