* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
  background-color: inherit;
  user-select: none;
  /* transition: all 0.5s; */
}

:root {
  --nav-height: 80px;
  --primary-color: #111;
  --secondary-color: #222;
  --accent-color: orangered;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
}

/* style de la barre de navigation */
nav {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: white;
  border-bottom: 2px solid var(--accent-color);
}

nav p {
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

nav p:not(.full):hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

nav ul {
  margin: 0;
  padding: 0;
  height: 0;
  visibility: hidden;
  list-style: none;
}

#main-menu {
  display: flex;
  flex-direction: column;
}

#main-menu li {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  width: 100%;
}

.open-title {
  color: var(--accent-color);
}

.open-menu {
  height: auto;
  visibility: visible;
}

/* style de la zone principale */
main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: top;
  justify-content: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1583997052103-b4a1cb974ce5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main > div:not(.activeScreen) {
  display: none;
}

/* style du formulaire de connexion */
.connexionForm {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
}

#connexionFormErrors {
  display: none;
  flex: 0 0 100%;
  height: fit-content;
  background-color: rgba(255, 0, 0, 0.75);
  border: 2px solid red;
}

#connexionFormErrors ul {
  background-color: transparent;
}

#connexionFormMode {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
}

.connexionMode {
  margin: 0;
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.activeMode {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.connexionMode:hover {
  background-color: var(--secondary-color);
}

.connexionForm form {
  display: flex;
  flex-wrap: wrap;
}

.connexionForm form:not(.activeForm) {
  display: none;
}

.connexionForm form p {
  flex: 0 0 100%;
}

.connexionForm form div {
  flex: 0 0 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.connexionForm form div.inline {
  flex: 0 0 100%;
  flex-direction: row;
  align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  accent-color: var(--accent-color);
}

.connexionInput {
  height: 2rem;
  padding: 0 1rem;
  border: 2px solid var(--secondary-color);
  outline: none;
}

.connexionForm form input:focus {
  border: 2px solid var(--accent-color);
}

#logInButton,
#signUpButton {
  width: 100%;
  color: black;
  background-color: var(--accent-color);
  border: none;
}

#logInButton:hover,
#signUpButton:hover {
  filter: brightness(75%);
}

.valid {
  border: 2px solid rgb(0, 255, 0);
}

.invalid {
  border: 2px solid red;
}

/* style des sections de cartes */
.collection {
  padding: 1rem;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  aspect-ratio: 1/1;
  height: 150px;
  color: transparent;
  background-color: orangered;
  border-radius: 1rem;
  background-position: top;
  background-size: cover;
}

@media only screen and (min-width: 960px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  #main-menu {
    visibility: visible;
    flex-direction: row;
  }

  .submenu {
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: var(--accent-color);
  }

  .connexionForm form div {
    flex: 0 0 50%;
    padding: 1rem;
  }
}
