* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  color: inherit;
  background-color: inherit;
  /* transition: all 0.5s; */
}

:root {
  --nav-height: 80px;
  --primary-color: #111;
  --secondary-color: #222;
  --accent-color: orangered;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
}

/* style de la barre de navigation */
nav {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: white;
  border-bottom: 2px solid var(--accent-color);
}

nav p {
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

nav p:not(.full):hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

nav ul {
  margin: 0;
  padding: 0;
  height: 0;
  visibility: hidden;
}

#main-menu {
  display: flex;
  flex-direction: column;
}

#main-menu li {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  width: 100%;
}

.open-title {
  color: var(--accent-color);
}

.open-menu {
  height: auto;
  visibility: visible;
}

/* style du formulaire de connexion */
#connexionForm {
  padding: 2rem;
  width: min-content;
  background-color: var(--primary-color);
  color: white;
  border: 2px solid var(--accent-color);
}

#connexionFormMode {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.connexionMode {
  margin: 0;
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.connexionMode:hover {
  background-color: var(--secondary-color);
}

#connexionForm form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#connexionForm form:not(.active) {
  display: none;
}

#connexionForm form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#connexionForm form div.inline {
  flex-direction: row;
}

#connexionForm form input {
  height: 2rem;
  border: 2px solid var(--secondary-color);
  outline: none;
}

#connexionForm form input:focus {
  border: 2px solid var(--accent-color);
}

/* style du cache */
#overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

/* style de la zone principale */
main {
  width: 100%;
  height: 100%;

  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.unsplash.com/photo-1583997052103-b4a1cb974ce5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#collection {
  padding: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  aspect-ratio: 1/1;
  height: 150px;
  color: transparent;
  background-color: orangered;
  border-radius: 1rem;
  background-position: top;
  background-size: cover;
}

@media only screen and (min-width: 960px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  #main-menu {
    visibility: visible;
    flex-direction: row;
  }

  .submenu {
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: var(--accent-color);
  }
}
