* {
    box-sizing: border-box;
    font-family: monospace;
    transition: all 0.5s;
}

:root {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

header,
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    padding: 1rem 0;

    background-color: #aaa;
    box-shadow: inset 0 0 4px 4px #eee;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

img {
    height: 250px;
    box-shadow: inset 0 0 4px 4px #222;
}

a {
    display: block;
    height: 150px;
    width: 100px;

    margin: 10px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: inset 0 0 4px 4px #eee;
}

a:hover {
    rotate: -5deg;
}

.Gryffindor:hover {
    box-shadow: 0 0 4px 4px red, inset 0 0 4px 4px red;
}

.GryffindorText {
    color: red;
}

.Slytherin:hover {
    box-shadow: 0 0 4px 4px green, inset 0 0 4px 4px green;
}

.SlytherinText {
    color: green;
}

.Hufflepuff:hover {
    box-shadow: 0 0 4px 4px gold, inset 0 0 4px 4px gold;
}

.HufflepuffText {
    color: goldenrod;
}

.Ravenclaw:hover {
    box-shadow: 0 0 4px 4px cyan, inset 0 0 4px 4px cyan;
}

.RavenclawText {
    color: blue;
}

.unclassed:hover {
    box-shadow: 0 0 4px 4px #111, inset 0 0 4px 4px #111;
}
