/* GOOGLE API ELEMENTS */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.material-symbols-rounded {
    font-variation-settings: "FILL" 1, "wght" 400;
}

/* GENERAL STYLING */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.1s;
}

:root {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
    width: 100dvw;
    padding: 0 1rem;
}

nav {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    margin: 0;
    font-family: "Satisfy";
    font-size: 2rem;
}

nav div {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 1rem;
    background-color: lightgrey;
    border-radius: 9999px;
}

nav a {
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 9999px;
}

nav a:hover {
    background-color: grey;
    color: white;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

/* NOTICE AREA STYLING */
#notice {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    border-radius: 9999px;
}

#notice.error {
    background-color: rgba(255, 0, 0, 0.25);
}

#notice.error * {
    color: rgb(127, 0, 0);
}

#notice.done {
    background-color: rgba(0, 255, 0, 0.25);
}

#notice.done * {
    color: rgb(0, 127, 0);
}

#notice p {
    margin: 0;
}

/* FORMS STYLING */
form {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

form article {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

form input,
form textarea {
    padding: 0.5rem 1rem;
    border: 2px solid lightgrey;
    border-radius: 9999px;
}

form textarea {
    border-radius: 8px;
    resize: vertical;
}

form input[type="submit"]:hover {
    color: white;
    background-color: grey;
    border-color: grey;
}

#deleteForm input[type="submit"] {
    background-color: rgba(255, 0, 0, 0.25);
    border-color: lightcoral;
}

#deleteForm input[type="submit"]:hover {
    background-color: red;
    border-color: red;
}

/* PEOPLE STYLING */
#peopleList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

#peopleList .user {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: lightgrey;
    border-radius: 9999px;
}

#peopleList .user * {
    word-break: break-all;
}

/* USER STYLING */
#user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user * {
    max-width: 250px;
    word-break: break-all;
}

#userIcon {
    font-size: 5rem;
}