* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
  transition: 0.5s;
}

:root {
  --carousel-height: 100px;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
}

.swiper {
  width: 100%;
  height: var(--carousel-height);
  grid-column: 1/-1;
  grid-row: 1;
  border-bottom: 1px solid white;
}

.swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#slide1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/iim.png);
  background-size: cover;
  background-position-y: 50%;
}

#slide2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/2023.png);
  background-size: cover;
  background-position-y: 30%;
}

#slide3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/activities.png);
  background-size: cover;
  background-position-y: 50%;
}

a {
  text-decoration: none;
}

#iim {
  position: fixed;
  z-index: 99;
  top: 10px;
  left: 10px;
  height: 80px;
}

#iim img {
  height: 100%;
}

input {
  display: none;
}

#chevron {
  z-index: 1;
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: white;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#chevron span {
  color: black;
}

#chevron.rotate {
  background-color: orange;
}

#chevron.rotate span {
  transform-origin: center;
  transform: rotate(180deg);
  color: white;
}

.material-symbols-outlined {
  font-size: 2em;
  font-weight: bold;
}

#sidebar {
  position: fixed;
  height: calc(100dvh - var(--carousel-height));
  width: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  visibility: hidden;
  overflow: hidden;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar.open {
  width: fit-content;
  visibility: visible;
}

#sidebar.open .tab {
  padding: 15px 20px;
}

.tab {
  padding: 15px 0;
  font-weight: bold;
  color: black;
  text-wrap: pretty;
}

.tab:hover {
  background-color: #efefef;
  cursor: pointer;
}

.tab-active {
  color: orange;
}

main {
  width: 100%;
  padding: 20px 40px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content:not(.active) {
  display: none;
}

h1 {
  font-size: 4rem;
  margin: auto 0 23px 0;
}

h2 {
  font-size: 2rem;
  margin: 13px 0;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

p {
  max-width: 50%;
  text-wrap: pretty;
}
