<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/connection.css')}}" />
    <title>Document</title>
  </head>
  <body>
    {% if user == 0: %}
    <div>
      <ul id="connectionStatus"></ul>
    </div>

    {% elif user == 1: %}
    <div>
      <ul id="connectionStatus">
        <li>User not found</li>
      </ul>
    </div>

    {% elif user == 2: %}
    <div>
      <ul id="connectionStatus">
        <li>Wrong password</li>
      </ul>
    </div>

    {% elif user == 3: %}
    <div>
      <ul id="connectionStatus">
        <li>Successfully disconnected</li>
      </ul>
    </div>

    {% elif user == 4: %}
    <div>
      <ul id="connectionStatus">
        <li>Username is not available</li>
      </ul>
    </div>

    {% else: %}
    <div>
      <ul id="connectionStatus">
        <li>Welcome, {{ user }}</li>
      </ul>
    </div>

    {% endif %}

    <h2>Sign In</h2>
    <form action="{{ url_for('signin') }}" id="signin">
      <input type="text" name="usernameSignIn" placeholder="Username" />
      <input type="password" name="passwordSignIn" placeholder="Password" />
      <input type="submit" value="Sign In" />
    </form>

    <a href="{{ url_for('disconnect') }}">Disconnect</a>
    <a href="{{ url_for('collection') }}">Collection</a>

    <h2>Sign Up</h2>
    <form action="{{ url_for('signup') }}" id="signup">
      <input type="text" name="usernameSignUp" id="usernameSignUp" placeholder="Username" required />
      <input type="text" name="displayname" id="displayname" placeholder="Display Name" required />
      <input type="email" name="email" id="email" placeholder="Email" required />
      <input type="tel" name="phone" id="phone" placeholder="Phone Number" />
      <input type="password" name="passwordSignUp" id="passwordSignUp" placeholder="Password" required />
      <input type="password" name="passwordSignUpCheck" id="passwordSignUpCheck" placeholder="Confirm Password" required />
      <input type="submit" value="Sign Up" />
    </form>

    <h2>Friends</h2>
    <h3>Send Request</h3>
    <form action="{{ url_for('friendrequest') }}">
      <input type="text" name="friendUsername" id="friendUsername" placeholder="Friend Username" />
      <input type="submit" value="Send" />
    </form>

    <h3>Friends List</h3>
    {% for friend in friends %}
    <div class="friend {{ friend[1] }}">
      <p>{{ friend[0] }}</p>

      {% if friend[1] == 0 %}
      <div>Pending</div>
      <a href="{{ url_for('friendship', action = 'delete', friendUsername = friend[0]) }}" class="delete">Delete</a>

      {% elif friend[1] == 1 %}
      <a href="{{ url_for('friendship', action = 'accept', friendUsername = friend[0]) }}" class="accept">Accept</a>
      <a href="{{ url_for('friendship', action = 'reject', friendUsername = friend[0]) }}" class="reject">Reject</a>

      {% elif friend[1] == 2 %}
      <div>Accepted</div>
      <a href="{{ url_for('friendship', action = 'delete', friendUsername = friend[0]) }}" class="delete">Delete</a>

      {% endif %}
    </div>
    {% endfor %}

    <h2>Exchange Requests</h2>
    <h3>Send Request</h3>
    <form action="{{ url_for('exchangerequest') }}">
      <input type="text" name="targetUsername" id="targetUsername" placeholder="Target Username" />
      <input type="text" name="cardToGive" id="cardToGive" placeholder="Card to give">
      <input type="text" name="cardToReceive" id="cardToReceive" placeholder="Card to receive">
      <input type="submit" value="Send" />
    </form>

    <h3>Exchange List</h3>
    {% for exchange in exchanges %}
    <div class="exchange">
      <p>Between you and {{ exchange[1] }} </p>

      {% if exchange[2] == 0 %}
      <div>Pending</div>
      <a href="{{ url_for('exchange', action = 'delete', id = exchange[0]) }}" class="delete">Delete</a>

      {% elif exchange[2] == 1 %}
      <a href="{{ url_for('exchange', action = 'accept', id = exchange[0]) }}" class="accept">Accept</a>
      <a href="{{ url_for('exchange', action = 'reject', id = exchange[0]) }}" class="reject">Reject</a>

      {% endif %}
    </div>
    {% endfor %}

    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/signup.js') }}"></script>
  </body>
</html>
