<form id="houseFilters">
    <p>Filters: </p>
    <input type="checkbox" id="Gryffindor" name="gryffindor" class="houseFilter">
    <label for="Gryffindor" class="houseFilterLabel">Gryffindor</label>

    <input type="checkbox" id="Ravenclaw" name="ravenclaw" class="houseFilter">
    <label for="Ravenclaw" class="houseFilterLabel">Ravenclaw</label>

    <input type="checkbox" id="Hufflepuff" name="hufflepuff" class="houseFilter">
    <label for="Hufflepuff" class="houseFilterLabel">Hufflepuff</label>

    <input type="checkbox" id="Slytherin" name="slytherin" class="houseFilter">
    <label for="Slytherin" class="houseFilterLabel">Slytherin</label>

    <button type="reset" id="resetFilters" onclick="setTimeout(filter, 0);">Reset filters</button>
</form>