<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- global purpose stylesheet -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- sidebar stylesheet -->
    <link rel="stylesheet" href="/stylesheets/sidebar.css">

    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0" />

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="icon" href="bolt.png">

    <title><%= title %> | Hogwarts Club</title>
</head>
