<input type="checkbox" id="showSidebar" />
<nav id="sidebar">
    <a href="/"><span class="material-symbols-rounded"> home </span>Hogwarts Club</a>
    <ul id="mainMenu">
        <li>
            <p><span class="material-symbols-rounded"> playing_cards </span>My cards</p>
            <ul class="subMenu">
                <li>
                    <a href="collection" title="My cards collection"><span class="material-symbols-rounded"> inventory_2 </span>Collection</a>
                </li>
                <li>
                    <a href="booster" title="My daily booster"
                        ><span class="material-symbols-rounded"> <span class="material-symbols-rounded"> featured_seasonal_and_gifts </span> </span>Booster</a
                    >
                </li>
                <!-- <li>
                    <a href="" title="Incoming and outgoing trade offers"><span class="material-symbols-rounded"> mail </span>Trades</a>
                </li> -->
            </ul>
        </li>
        <li>
            <p><span class="material-symbols-rounded"> search </span>Discover</p>
            <ul class="subMenu">
                <li>
                    <a href="catalogue" title="Cards catalogue"><span class="material-symbols-rounded"> book </span>Catalogue</a>
                </li>
                <li>
                    <a href="members" title="Club members"><span class="material-symbols-rounded"> person_book </span>Members</a>
                </li>
            </ul>
        </li>
        <li>
            <p><span class="material-symbols-rounded"> person </span>Account</p>
            <ul class="subMenu">
                <li>
                    <a href="login" title="Log into existing account"><span class="material-symbols-rounded"> login </span>Login</a>
                </li>
                <li>
                    <a href="signup" title="Create a new Hogwarts Club account"><span class="material-symbols-rounded"> mood </span>Signup</a>
                </li>
                <!-- <li>
                    <a href="" title="My public profile"><span class="material-symbols-rounded"> id_card </span>Profile</a>
                </li> -->
                <!-- <li>
                    <a href="" title="My account settings"><span class="material-symbols-rounded"> settings </span>Settings</a>
                </li> -->
                <li>
                    <a href="" title="Log out of account" onclick="logout();"><span class="material-symbols-rounded"> logout </span>Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<label for="showSidebar" id="sidebarButton">
    <div id="sidebarIcon">
        <div class="sidebarIconBar"></div>
        <div class="sidebarIconBar"></div>
        <div class="sidebarIconBar"></div>
    </div>
</label>
