/* authentucation page styling */
a.activeAuth {
    border-bottom: 2px solid var(--accentColor);
}

form.activeAuth {
    display: block;
}

form:not(.activeAuth) {
    display: none;
}

input {
    width: 90%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 9999px;
}

input[type="submit"] {
    width: fit-content;
}

input[type="submit"]:hover {
    color: var(--primaryColor);
    background-color: white;
}