/* fichier css dédié au style des formulaires */
/* style du formulaire de connection */
.formTitle:not(.activeForm) {
  display: none;
}

.formsDiv {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius);
}

#formErrors {
  display: none;
  flex: 0 0 100%;
  padding: 2rem;
  height: fit-content;
  color: red;
  background-color: var(--primary-color);
  border: 2px solid red;
  border-radius: var(--border-radius);
}

#formErrors ul {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

#formMode {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
}

.mode {
  margin: 0;
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.activeMode {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.mode:hover {
  background-color: var(--secondary-color);
}

.formsDiv form {
  display: flex;
  flex-wrap: wrap;
}

.formsDiv form:not(.activeForm) {
  display: none;
}

.formsDiv form p {
  flex: 0 0 100%;
  text-align: center;
}

.formElement {
  flex: 0 0 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inline {
  flex: 0 0 100%;
  flex-direction: row;
  align-items: center;
}

input, select {
  height: 2rem;
  padding: 0 1rem;
  border: 2px solid var(--secondary-color);
  outline: none;
  border-radius: var(--border-radius);
}

input:hover, select:hover {
  border: 2px solid white;
}

input:focus, select:focus {
  border: 2px solid var(--accent-color);
}

input[type="radio"],
input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  accent-color: var(--accent-color);
}

/* style des boutons de connexion */
.formElement button {
  width: 100%;
  color: black;
  background-color: var(--accent-color);
  border: none;
  border-radius: var(--border-radius);
}

.formElement button:hover {
  filter: brightness(75%);
}

.formElement button:disabled {
  background-color: var(--secondary-color);
}

.valid {
  border: 2px solid rgb(0, 255, 0);
}

.invalid {
  border: 2px solid red;
}

@media only screen and (min-width: 960px) {
  .formElement {
    flex: 0 0 50%;
    padding: 1rem;
  }

  .inline {
    flex: 0 0 100%;
    flex-direction: row;
    align-items: center;
  }
}
