/* fichier css à usage global */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
  background-color: inherit;
  user-select: none;
  transition: all 0.25s;
}

:root {
  --nav-height: 80px;
  --primary-color: #111;
  --secondary-color: #222;
  --accent-color: orangered;
  --border-radius: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
}

#overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0%;
  visibility: hidden;
}

/* style de la barre de navigation */
nav {
  min-height: var(--nav-height);
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: white;
  border-bottom: 2px solid var(--accent-color);
}

.nav-title {
  height: 100%;
}

.main-title {
  height: var(--nav-height);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-title,
.nav-link {
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.nav-title:not(.full):hover,
.nav-link:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.main-menu {
  display: flex;
  flex-direction: column;
}

.main-menu,
.sub-menu {
  margin: 0;
  padding: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  list-style: none;
}

nav li {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  width: 100%;
}

.open-main-title, .open-title {
  color: var(--accent-color);
}

.open-main-menu, .open-menu {
  height: auto;
  padding: 1rem 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  visibility: visible;
}

.material-symbols-rounded {
  background-color: transparent;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* style de la zone principale */
main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1583997052103-b4a1cb974ce5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.centered {
  align-items: center;
  justify-content: space-around;
}

p {
  font-size: 1.1rem;
}

img {
  filter: invert(100%);
  height: 200px;
  object-fit: contain;
}

@media only screen and (min-width: 960px) {
  nav {
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
  }

  nav li {
    padding-left: 0;
  }

  .main-title {
    height: 100%;
  }

  .main-menu {
    height: 100%;
    visibility: visible;
    flex-direction: row;
    overflow: visible;
  }

  .sub-menu {
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: var(--accent-color);
  }
}
